@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center" style="background-color: #FFE6E6;">
    <p>
        Bienvenidos y bienvenidas, somos GuarderPet, la mejor compañia en la que nos puedes confiar a tu querido y peludito compañero o
        integrante de la famlia
    </p>
</div>
