@model GuarderPet.API.Data.Entities.PetService

@{ ViewData["Title"] = "Create"; }

<h1>Crear nuevo servicio para la mascota</h1>
<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ServiceDetail" class="control-label"></label>
                <input asp-for="ServiceDetail" class="form-control" />
                <span asp-validation-for="ServiceDetail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group" style="display:flex; justify-content:space-between">
                <button type="button" class="btn btn-primary" style="background-color: #FF2626; border: none; min-width: 150px;">
                    <a asp-action="Index" style="text-decoration:none; color:white;">Volver</a>
                </button>
                <input type="submit" value="Crear nuevo servicio" class="btn btn-primary" style="background-color: #FF2626; border: none; min-width: 150px;" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
