<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - GuarderPet.API</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/home.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Acme&display=swap" rel="stylesheet">
</head>
<body style="background-color: #FFE6E6;">
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm border-bottom box-shadow mb-3" style="background-color: white;">
            <div class="container">
                <a class="navbar-brand text-dark brand" asp-area="" asp-controller="Home" asp-action="Index">
                    GuarderPet<img src="~/images/logoGuarder.png" alt="Logo" style="height: 60px" />
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        @if (User.Identity.IsAuthenticated && User.IsInRole("Carer"))
                        {

                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="PetServices" asp-action="Index">Servicios de mascota</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="DocumentTypes" asp-action="Index">Tipos de documento</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="Breeds" asp-action="Index">Raza</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="Users" asp-action="Index">Usuarios</a>
                            </li>

                        }
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        @if (User.Identity.IsAuthenticated)
                        {
                            <li class="buttonIcon">
                                <button id="userIcon">
                                    <img src="~/images/usaerIcon.png" alt="Logo" style="height: 50px" />
                                </button>
                            </li>
                        }
                        else
                        {
                            <li><a asp-area="" asp-controller="Account" asp-action="Login">Iniciar Sesión</a></li>
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div style="position: absolute; display: flex; justify-content: flex-end; width: 100%; margin-top: 0;">
        <div id="userMenu" style="border:none">
            <ul>
                @if (User.Identity.IsAuthenticated && User.IsInRole("Carer"))
                {
                 <li> Carer </li>
                }
                <li ><a asp-area="" asp-controller="Account" asp-action="ChangeUser" style="color: black;">@User.Identity.Name</a></li>
                <li ><a asp-area="" asp-controller="Account" asp-action="Logout" style="color: black;">Cerrar Sesión</a></li>
            </ul>
        </div>
    </div>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted" style="background-color: white">
        <div class="container text-center">
            &copy; 2021 - GuarderPet - Lucas Giraldo - Santiago Osorio - Stewar Marin
        </div>
    </footer>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
