*{
    transition: all 150ms;
}

.nav-item {
    margin-left: 10px;
    margin-right: 10px;
}

.nav-item :hover{
    background-color: #BD1616;
    border-radius: 15px 15px;
}

.nav-item a{
    color: black;   
}

.nav-item a:hover {
    color: white;
}

.brand:hover {
   transform: scale(1.2);
}

.buttonIcon:hover{
    background-color: grey;
    padding: 4px;
}

#userMenu ul {
    display: flex;
    background-color: white;
    justify-content: center;
    flex-direction: column;
    max-width: 40vw;
    margin-right: 50px;
    padding: 20px;
}

#userMenu li {
    list-style: none;
    
